package ${package}.${moduleName}.${entityNameLowercase}.executor;

import com.alibaba.cola.dto.SingleResponse;
import ${package}.${moduleName}.dto.${entityClassName}AddCmd;
import ${package}.${moduleName}.dto.data.${entityClassName}DTO;
import ${package}.${moduleName}.${entityName}.${entityClassName}DO;
import ${package}.${moduleName}.${entityName}.${entityClassName}DbService;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Component;

import javax.annotation.Resource;


@Component
public class ${entityClassName}AddCmdExe {

    @Resource
    private ${entityClassName}DbService ${entityName}DbService;

    public SingleResponse<${entityClassName}DTO> execute(${entityClassName}AddCmd cmd) {
        ${entityClassName}DO entity = new ${entityClassName}DO();
        BeanUtils.copyProperties(cmd, entity);
        ${entityName}DbService.save(entity);
        ${entityClassName}DTO target = new ${entityClassName}DTO();
        BeanUtils.copyProperties(entity, target);
        return SingleResponse.of(target);
    }

}
