package ${package}.${moduleName}.${entityName}.executor;

import com.alibaba.cola.dto.Response;
import com.alibaba.cola.exception.BizException;
import ${package}.${moduleName}.dto.${entityClassName}AddCmd;
import ${package}.${moduleName}.dto.data.ErrorCode;
import org.springframework.stereotype.Component;


@Component
public class ${entityClassName}AddCmdExe {

    public Response execute(${entityClassName}AddCmd cmd) {
        //The flow of usecase is defined here.
        //The core ablility should be implemented in Domain. or sink to Domian gradually

        return Response.buildSuccess();
    }

}
