package ${package}.${moduleName}.${entityName}.executor.query;

import com.alibaba.cola.dto.SingleResponse;
import ${package}.${moduleName}.domain.${entityName}.gateway.${entityClassName}Gateway;
import ${package}.${moduleName}.dto.${entityClassName}CountQry;
import ${package}.${moduleName}.dto.data.${entityClassName}DTO;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;


@Component
public class ${entityClassName}CountQryExe {

    @Autowired
    private ${entityClassName}Gateway ${entityName}Gateway;

    public SingleResponse<${entityClassName}DTO> execute(${entityClassName}CountQry qry) {
        long count = ${entityName}Gateway.getCount();
        ${entityClassName}DTO ${entityName}DTO = new ${entityClassName}DTO();
        return SingleResponse.of(${entityName}DTO);
    }
}
