package ${package}.${moduleName}.dto.event;

/**
 * ${entityClassName}CreatedEvent
 *
 * @author Frank Zhang
 * @date 2019-01-04 10:32 AM
 */
public class ${entityClassName}CreatedEvent {

    private String ${entityName}Id;

    public String get${entityClassName}Id() {
        return ${entityName}Id;
    }

    public void set${entityClassName}Id(String ${entityName}Id) {
        this.${entityName}Id = ${entityName}Id;
    }

}
