package ${package}.${moduleName}.${entityName};

import lombok.Data;
import com.baomidou.mybatisplus.annotation.TableName;
import ${package}.component.db.entity.BaseDO;

@Data
@TableName("${entityName}")
public class ${entityClassName}DO extends BaseDO{

}
