package ${package}.${moduleName}.domain.${entityNameLowercase}.gateway;

import ${package}.${moduleName}.domain.${entityNameLowercase}.${entityClassName};
import ${package}.${moduleName}.dto.${entityClassName}DelCmd;
import ${package}.${moduleName}.dto.${entityClassName}UpdateCmd;

import java.util.List;

public interface ${entityClassName}Gateway {
    ${entityClassName} getByById(String ${entityName}Id);

    void remove${entityClassName}(${entityClassName}DelCmd cmd);

    void update${entityClassName}(${entityClassName}UpdateCmd cmd);

    List<${entityClassName}> page${entityClassName}(int pageIndex, int pageSize);

    long getCount();
}
