package ${package}.${moduleName}.${entityName};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.conditions.update.UpdateWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.PageDTO;
import ${package}.${moduleName}.domain.${entityName}.${entityClassName};
import ${package}.${moduleName}.domain.${entityName}.gateway.${entityClassName}Gateway;
import ${package}.${moduleName}.dto.${entityClassName}DelCmd;
import ${package}.${moduleName}.dto.${entityClassName}UpdateCmd;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import java.util.ArrayList;
import java.util.List;

@Component
public class ${entityClassName}GatewayImpl implements ${entityClassName}Gateway {
    @Autowired
    private ${entityClassName}Mapper ${entityName}Mapper;

    public ${entityClassName} getByById(String ${entityName}Id) {
        ${entityClassName}DO ${entityName}DO = ${entityName}Mapper.getById(${entityName}Id);
        //Convert to ${entityClassName}
        return null;
    }

    @Override
    public void remove${entityClassName}(${entityClassName}DelCmd cmd) {
        ${entityName}Mapper.deleteById("");
    }

    @Override
    public void update${entityClassName}(${entityClassName}UpdateCmd cmd) {
        ${entityName}Mapper.update(new ${entityClassName}DO(), new UpdateWrapper<>());
    }

    @Override
    public List<${entityClassName}> page${entityClassName}(int pageIndex, int pageSize) {
        PageDTO<${entityClassName}DO> ${entityName}DOPageDTO = ${entityName}Mapper.selectPage(new PageDTO<>(pageIndex, pageSize), new QueryWrapper<>());
        return new ArrayList<>();
    }

    @Override
    public long getCount() {
        return ${entityName}Mapper.selectCount(new QueryWrapper<>());
    }
}
