package ${package}.${moduleName}.${entityNameLowercase}.executor.query;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.PageDTO;
import ${package}.${moduleName}.dto.${entityClassName}PageQry;
import ${package}.${moduleName}.${entityNameLowercase}.${entityClassName}DO;
import ${package}.${moduleName}.${entityNameLowercase}.${entityClassName}DbService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;


@Component
public class ${entityClassName}PageQryExe {

    @Autowired
    private ${entityClassName}DbService ${entityName}DbService;

    public PageDTO<${entityClassName}DO> execute(${entityClassName}PageQry qry) {
        int pageIndex = qry.getPageIndex();
        int pageSize = qry.getPageSize();
        QueryWrapper<${entityClassName}DO> queryWrapper = new QueryWrapper<>();

        return ${entityName}DbService.page(new PageDTO<>(pageIndex, pageSize), queryWrapper);
    }
}
